[submodule "deps/tty.js"]
	path = deps/tty.js
	url = git://github.com/chjj/tty.js.git
[submodule "deps/shelr.tv"]
	path = deps/shelr.tv
	url = git://github.com/antono/shelr.tv.git
[submodule "deps/keyscss"]
	path = deps/keyscss
	url = git://github.com/michaelhue/keyscss.git
[submodule "deps/ttyrec-plusplus"]
	path = deps/ttyrec-plusplus
	url = git://github.com/ewaters/ttyrec-plusplus
